현재 받은 로봇의 정보
.env파일 전체 내용 
SDK_API_TOKEN="BGSbTtncBx51cREW5k8pA1LD1DiDVc5xUP3vEQAgZMR45v8Lcg66xfV6KEj9PAbQJMhFV54r1ZGAUa2CWKPcHVomWZ2ADZaV8JLq"
BOT_SLUG="notch-groot-elk"
CHROME_EXECUTABLE_PATH="/usr/bin/chromium"
MAP_ZOOM_LEVEL="18"
MISSION_SLUG=""
카메라 프레임 이미지 품질 0.1~1.0/높을수록 선명하지만 통신 delay 증가
IMAGE_QUALITY="0.8"
카메라 프레임 포맷, jpeg가 가볍고 빠름(png/webpg)
IMAGE_FORMAT="jpeg"
TTS_PROVIDER="edge"
TTS_API_KEY=""
TTS_VOICE="en-US-GuyNeural"

